* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 40px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.urgencia {
  color: #22c55e;
  margin-bottom: 10px;
}

/* BOTÃO */
.btn {
  display: inline-block;
  padding: 15px 30px;
  background: #22c55e;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.destaque-card {
  border: 2px solid #22c55e;
}

/* WHATSAPP FLOAT */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #22c55e;
  padding: 15px;
  border-radius: 50%;
  font-size: 24px;
  text-decoration: none;
}
