body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #22c55e;
  color: black;
  border-radius: 8px;
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}
